<div>
  <br/>
  <br/>
  <br/>
  <span class="p-float-label">
    <input id="fi_inscricao" type="text" [(ngModel)]="app.inscricao" pInputText> 
    <label for="fi_inscricao">Inscrição</label>
  </span>
  <br/>
  <span class="p-float-label">
    <input id="fi_nome" type="text" [(ngModel)]="app.nome" pInputText> 
    <label for="fi_nome">Nome</label>
  </span>
  <br/>
  <span class="p-float-label">
    <input id="fi_sobrenome" type="text" [(ngModel)]="app.sobrenome" pInputText> 
    <label for="fi_sobrenome">Sobrenome</label>
  </span>
  <br/>
  <span class="p-float-label">
    <input id="fi_cpf" type="text" [(ngModel)]="app.cpf"  pInputText> 
    <label for="fi_cpf">CPF</label>
  </span>
  <br/>
  <span class="p-float-label">
    <input id="fi_cnpj" type="text" [(ngModel)]="app.cnpj"  pInputText> 
    <label for="fi_cnpj">CNPJ</label>
  </span>
  <br/>
  <span class="p-float-label">
    <input id="fi_situacao" type="text" [(ngModel)]="app.situacao" pInputText> 
    <label for="fi_situacao">Situação</label>
  </span>
  <br/>
  <span class="p-float-label">
    <input id="fi_tpinscricao" type="text" [(ngModel)]="app.tpinscricao" pInputText> 
    <label for="fi_tpinscricao">Tipo Inscrição</label>
  </span>

  <br/>
  <button type="button" pButton label="Consultar" (click)="consultar()"></button>
</div>